.form-card {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 20rem;
  margin-bottom: 10px;
}

.select {
  width: 100%;
}

.date-input {
  width: 100%;
}

.price-input {
  width: 100%;
}
