<mat-card class="form-card">
  <form [formGroup]="carRentalForm" class="form">
    <mat-form-field class="form-field">
      <mat-label>Категория</mat-label>
      <mat-select (selectionChange)="filterCars()" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.code">{{ category.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Авто</mat-label>
      <mat-select (selectionChange)="onChangeCar()" formControlName="car">
        <mat-option *ngFor="let car of carsByCategory" [value]="car.id">{{ car.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input formControlName="startDate" matStartDate placeholder="Дата начала">
        <input (dateChange)="calculateCost()" formControlName="endDate" matEndDate placeholder="Дата окончания">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Стоимость аренды</mat-label>
      <input formControlName="car" matInput readonly type="text" value="{{ price }} ₽">
    </mat-form-field>
  </form>
</mat-card>
